SECRET_KEY=i_w7qa(18=%!j(1513owmgvl!*tq2sz+jq!b_4ap8=ll3^wr^p
DEBUG=True
DATABASE_URL=postgresql://chaiuser:chaipassword@localhost/chaigallery
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
ALLOWED_HOSTS=chaigallery.onrender.com,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=https://chaigallery.onrender.com
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=solankiakash70q6@gmail.com
DJANGO_SUPERUSER_PASSWORD=admin1234
